<form action='/links/new'>
 <input type='submit' value='Add link'>
</form>
<h1> Links </h1>

<br/><br/>
<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %>
    URL: <%= link.url %>
    Tags: <%= link.tags %>
  </li>
  <% end %>
</ul>
