<h1> New Link </h1>
<form action='/links' method='post'>
  <label for='title'> Title:
 <input type='text' name='title'>
 </label>
 <br/>
 <label for='url'> URL :
 <input type='text' name='url'>
 </label>
 <br/><br/>
 <input type='submit' value='Create link'>
</form>
